<header>
  <h1>Angular Pipes</h1>
</header>

<label>
  Enter Some Text
  <input [(ngModel)]="text" type="text" placeholder="Blah blah blah..." />
</label>

<h2>Your Text</h2>
<p>{{text}}</p>

<h2>Uppercase</h2>
<p>{{text | uppercase}}</p>

<h2>Lowercase</h2>
<p>{{text | lowercase}}</p>

<h2>Emojied</h2>
<p>{{text | emojify}}</p>

<hr />
<app-crypt-tracker></app-crypt-tracker>
<hr />
<app-date-changer></app-date-changer>
<hr />
<app-faces-of-benicio></app-faces-of-benicio>
<hr />

<footer>
  <p>Made with 🧙‍ at Ironhack.</p>
</footer>
