<h2>Date Changer</h2>

<h3>Right Now</h3>
<p>{{currentDate}}</p>

<h3>Right Now (date pipe)</h3>
<p>{{currentDate | date}}</p>

<h3>Right Now (date pipe PRE-MADE format)</h3>
<p>{{currentDate | date:"fullDate"}}</p>

<h3>Right Now (date pipe CUSTOM format)</h3>
<p>{{currentDate | date:"EEEE, MMMM d, y h:mm aa"}}</p>

<button (click)="addHours(1)">+1 hour</button>
<button (click)="addHours(24)">+1 day</button>
<button (click)="addHours(7 * 24)">+1 week</button>
<button (click)="resetDate()">Reset</button>
